on:
  push:
    paths:
      - 'src/**'
  workflow_dispatch:

name: Create PDF

jobs:
  makepdfs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: cornelius/action-md-as-pdf@main
      if: github.ref == 'refs/heads/main'
      with:
        markdown_file: README.md
        pdf_file: output.pdf
    - uses: actions/upload-artifact@v1
      with:
        name: output.pdf
        path: auto-pdf
